<div class="grid h-screen place-items-center">
  <div class="card w-96 bg-base-300 shadow-xl">
    <div class="card-body text-center">
      <h1 class="card-title self-center">Tabelas Disponíveis</h1>
      <ul class="menu menu-lg bg-base-300 rounded-box">
        <li><%= link_to "Estados",  estados_path %></li>
        <li><%= link_to "Pessoas",  pessoas_path %></li>
        <li><%= link_to "Documentos",  documentos_path %></li>
        <li><%= link_to "Esportes",  esportes_path %></li>
        <li><%= link_to "EsportesPessoas",  esportes_pessoas_path %></li>
      </ul>
    </div>
  </div>
</div>