<div id="<%= dom_id estado %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Sigla:</strong>
    <%= estado.sigla %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Nome:</strong>
    <%= estado.nome %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this estado", estado, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this estado', edit_estado_path(estado), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
